<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="css/mainStyle.css">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

    <title>Militær App</title>
</head>

<body>

    <div>

        <header id="header-content">
            <img src="images/soldier/offiser.jpg">
            <h1>Administrer dine ordrer sir!</h1>
            <img src="images/soldier/offiser.jpg">
        </header>

        <main id="admin-view">
            <make-order v-on:new-order="onNewOrderCreated"></make-order>
            <div class="orders-list">
                <order v-for="(order, index) in orders" v-bind:key="index" v-bind:title="order.title" v-bind:desc="order.desc" v-bind:date="order.date" v-bind:location="order.location"> </order>
            </div>
        </main>


        <footer id="solider-app">
            <h1>Soldater tilgjengelig for ordre</h1>
            <div class="solider-list">
                <solider-detail v-for="(solider, index) in soliders" v-bind="solider"> </solider-detail>
            </div>

        </footer>

    </div>

    <script src="scripts/components/order.js"></script>
    <script src="scripts/components/makeOrder.js"></script>
    <script src="scripts/components/adminView.js"></script>
    <script src="scripts/qunit/functions.js"></script>
    <script src="scripts/vue-development-mode.js"></script>
    <script src="scripts/solider-detail.js"></script>
    <script src="scripts/solider.js"></script>
</body>



</html>