#header-content {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

#header-content img {
    padding: 2rem;
    height: 200px;
}

#admin-view {
    padding: 3rem;
    background-color: darkolivegreen;
    border-radius: 2rem;
    text-align: center;
}

.orders-list {
    padding: 2rem;
}

.order-box {
    background-color: lightgrey;
    border-radius: 2rem;
    margin: 2rem;
}

body {
    background-color: white;
}

.order-box img {
    height: 10%;
    width: 10%;
}